$accentColor = cadetblue
$navLinkColor = snow

$textColor = #2c3e50
$darkTextColor = #000

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = dimgray

$bgColor = white
$headerBgColor = cadetblue;

$footerBgColor = darkgray
$footerColor = black

$newsletterBgColor = #f8f8f8

$headerHeight = 60px